#--------------------------------
# Code Comrade special build outs
#--------------------------------

__cc_injection.js


#--------------------------------
# Web Site Config Excludes
#--------------------------------

config.php
.htaccess


#--------------------------------
# Key File Excludes
#--------------------------------

FacebookKeysActual.plist
local_settings.py


#--------------------------------
# Python Noise
#--------------------------------

*.pyc


#--------------------------------
# Other Source Control Noise
#--------------------------------

*.LCK
.svn


#--------------------------------
# OSX Noise
#--------------------------------

.DS_Store
profile


#--------------------------------
# XCode Noise
#--------------------------------

build
build/
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData


#------------------
# Palm Pre Ignores
#------------------

*.ipk


#--------------------------------
# quilt
#--------------------------------

.pc/
patches/


#--------------------------------
# Project-specific ignores
#--------------------------------

tools/jquery/jQuery/

